<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
          
          <title th:text="${title}">Base html</title>
          
   <link rel="stylesheet" th:href="@{/css/index.css}">
   
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark  bg-primary">
 <a class="navbar-brand text-center" href="#">HandSpeak</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase" >
      <li class="nav-item active">
        <a class="nav-link" th:href=@{/}>Home <span class="sr-only">(current)</span></a>
      </li>
      
      
      <li class="nav-item active">
        <a class="nav-link" th:href=@{/a} href="#">About</a>
      </li>
      
      
      
      <li class="nav-item active">
        <a class="nav-link disabled" href="#" th:href=@{/login}>Login</a>
      </li>
      
      <li class="nav-item active">
        <a  th:href="@{/singup}" class="nav-link">Singnup</a>
      </li>
      
    </ul>
  </div>
</nav>


    <!-- Content block to be replaced -->
  <section th:fragment="Layout(content)">
  <div th:replace="${content}"></div>
</section>


 <script th:src="@{/js/index.js}"></script>

</body>
</html>
