<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

  <div>
  
  <h1 class="front-weight-bold">Connect Beyond Words</h1>
  <p>
 Break communication barriers with HandSpeak — your smart, simple, and friendly way to translate sign language into speech, track location, and ensure safety with buzzer alerts.
  </p>
  
  <button class="btn btn-primary btn-lg text-white">Learn Your First Sign</button>
  </div>
  
   </section>
</body>
</html>