<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section class="vh-100" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow-sm p-4 text-center">
                    <h3 class="mb-4">Welcome, John Doe!</h3>

                    <p><strong>Email:</strong> john@example.com</p>
                    <p><strong>Phone:</strong> +91 9876543210</p>

                    <div class="mt-4">
                     <a class="btn btn-primary btn-lg mr-2" th:href="@{/map}">📍 GPS Tracking</a>
                        <button class="btn btn-danger btn-lg">🔔 Buzzer</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>
